@font-face {
    font-family: solway-reg;
    src: url(../../assets/fonts/Solway-Regular.ttf);
}
@font-face {
    font-family: solway-bold;
    src: url(../../assets/fonts/Solway-Bold.ttf);
}
@font-face {
    font-family: playfair-bold;
    src: url(../../assets/fonts/Playfair-Bold.ttf);
}