// Colors
$clr1: #181c22;
$clr2: #f2a365;
$clr3: #927fbf;
$clr4: #c4bbf0;
$clr5: #a7d129;
$clr6: rgb(59, 57, 79);


// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1024px;